.profile_block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100%;
  .profile_card{
    width: 400px;
    padding: 10px 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    img{
      width: 200px;
      height: 200px;
    }
    h2{
      font-size: 30px;
      margin: 10px;
    }
    p{
      margin: 0;
      font-size: 23px;
    }
    .profile_inputs{
      display: flex;
      align-items: center;
      width: 90%;
      margin-top: 10px;
      svg{
        color: #FFB742;
        font-size: 30px;
        margin-left: 10px;
      }
      span{
        margin-right: 10px;
        margin-left: 0;
        svg{
          color: royalblue;
          font-size: 25px;
        }
      }
      input{
        background: none;
        outline: none;
        padding: 15px;
        border-radius: 6px;
        width: 100%;
        border: 1px solid #10816a;
        position: relative;
        transition: .3s;
        &:focus{
          border: 1px solid #FFB742;
        }
      }
      p{
        position: absolute;
        color: red;
        margin-top: 1px;
        margin-left: 14%;
        font-size: 15px;
      }
    }
    .btn_profile{
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin-top: 10px;
      button{
        padding: 15px 0;
        background-color: #10816a;
        border: 0;
        width: 100%;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        transition: .3s;
        &:disabled{
          cursor: default;
        }
      }
      .save_btn{
        margin-left: 5px;
        &:disabled{
          background-color: #10816aa9;
        }
      }
      .edit_btn{
        background-color: #FFB742;
        &:disabled{
          background-color: #FFB742;
        }
      }
      .del_btn{
        background-color: rgba(255, 0, 0, 0.87);
        margin-left: 5px;
        &:hover{
          background-color: rgba(255, 0, 0, 0.689);
        }
      }
    }
  }
}